@page "/footer"
@inject TranslationService TranslationService

<div class="footer-bg">
    <div class="footer-container">
        <div class="footer-flex">
            <img src="images/IsraLogo.svg" alt="Isra logo" class="footer-logo" />
            <ContactButton Email="learsi75@hotmail.com" Label="@t("contact_me")" />
        </div>

        <!-- Enlace LinkedIn -->
        <div class="footer-link">
            <a href="https://linkedin.com/in/isra-morales-lara-50923b280" target="_blank" rel="noopener noreferrer">
                <img src="images/Link.svg" alt="LinkedIn icon" class="footer-link-icon" />
            </a>
        </div>

        <!-- Información de contacto -->
        <div class="footer-grid">
            <!-- Teléfono -->
            <div class="footer-grid-item">
                <a href="tel:+46762222713">
                    <img src="images/call.svg" alt="Phone icon" class="footer-icon" />
                </a>
                <p class="footer-text">Mobil: 076-22 22 713</p>
            </div>

            <!-- Correo -->
            <div class="footer-grid-item">
                <a href="mailto:Learsi75@hotmail.com">
                    <img src="images/brev.svg" alt="Email icon" class="footer-icon-small" />
                </a>
                <p class="footer-text">Learsi75@hotmail.com</p>
            </div>

            <!-- Dirección -->
            <div class="footer-grid-item">
                <a href="https://www.google.com/maps?q=Syster+Annas+v%C3%A4g+29+194+57,+Upplands+V%C3%A4sby" target="_blank" rel="noopener noreferrer">
                    <img src="images/home.svg" alt="Home icon" class="footer-icon" />
                </a>
                <p class="footer-text">Syster Annas väg 29 194 57, Upplands Väsby</p>
            </div>
        </div>
    </div>
</div>
@code {

    private string t(string key) => TranslationService.T(key);
    protected override async Task OnInitializedAsync()
    {
        await TranslationService.LoadTranslations(TranslationService.CurrentLanguage);
    }

    private async Task ChangeLanguage(string lang)
    {
        await TranslationService.LoadTranslations(lang);
        StateHasChanged();
    }
}