
.kompetenser-container {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding:12px;
}


    .kompetenser-container.visible {
        opacity: 1;
        transform: translateY(0);
    }


.kompetenser-title {
    font-weight: bold;
    font-size: 2.5rem;
    color: #effa50;
}


.kompetenser-subtitle {
    margin-top: 2rem;
    font-size: 1.5rem;
    color:#d5d5d5;
}


.kompetenser-text {
    font-size: 1.25rem;
    line-height: 1.75;
    color: #d5d5d5;
}
